@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Yellowtail&display=swap');

/* @font-face {
  font-family: 'Podium Soft';
  src: url('/fonts/podium-soft-regular.woff2') format('woff2'),
       url('/fonts/podium-soft-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Podium Soft';
  src: url('/fonts/podium-soft-regular.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

body {
  background-color: #FFFCF9;
  color: #2a2a2a;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

@theme {
  --color-cream-bg: #f5f2eb;
  --color-charcoal: #2a2a2a;
  --color-soft-blue: #95b0dd;
  --color-yellowish: #f6f3c2;
  --color-soft-beige: #e8dfd5;
  --color-muted-sage: #a8998c;

  --font-lato: "Lato", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-podium-soft: "Podium Soft", sans-serif;
  --font-libre-caslon: "Libre Caslon Text", serif;
}